/* /* body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  background-color: #f0f0f0; /* Warna latar belakang halaman */

body {
  justify-content: center;
  align-items: center;
  display: flex;
}
.container {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px; /* Lebar maksimal container */
  width: 100%;
}

.label {
  padding: 10px;
  background-color: #3498db; /* Warna latar belakang label */
  color: #fff; /* Warna teks label */
  border-radius: 4px;
}

select {
  width: 50%;
  padding: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #2ecc71; /* Warna latar belakang tombol */
  color: #fff; /* Warna teks tombol */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h1 {
  margin-top: 20px;
  font-size: 16px;
  color: #333; /* Warna teks hasil */
}
